.add-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 60px;

    &__item {
        font-size: 24px;
        line-height: 110%;
        padding: 32px 10px;
        border-radius: 19px;
        border: 1px solid $basic-color;
        width: 100%;
        max-height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: $tablet) {
    .add-list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        &__item {
            width: 45%;
        }
    }
}

@media (min-width: $desktop) {
    .add-list {
        display: block;
        padding: 80px 100px;
        width: 100%;

        &__item {
            width: auto;
            padding: 32px 26px;
            position: absolute;
            width: 20%;
            max-width: 260px;
        }

        &__item--one {
            top: 2%;
            left: 15%;
        }

        &__item--two {
            top: 28.5%;
            left: 10%;
        }

        &__item--three {
            top: 55%;
            left: 15%;
        }

        &__item--four {
            bottom: -2%;
            left: 36%;
        }

        &__item--five {
            right: 15%;
            top: -5%;
        }

        &__item--six {
            right: 9%;
            top: 22%;
        }

        &__item--seven {
            right: 20%;
            top: 65%;
        }
    }
}
