.add-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    padding: 0 60px;

    &__item {
        font-size: 24px;
        line-height: 110%;
        padding: 32px 10px;
        border-radius: 19px;
        border: 1px solid $basic-color;
        width: 100%;
        max-height: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
}

@media (min-width: $tablet) {
    .add-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &__item {
            width: 45%;
        }
    }
}

@media (min-width: $desktop) {
    .add-list {
        display: block;
        padding: 80px 100px;
        width: 100%;

        &__item {
            width: auto;
            padding: 32px 26px;
            position: absolute;
            width: 20%;
            max-width: 260px;
        }

        &__item--one {
            top: 2%;
            left: 15%;
        }

        &__item--two {
            top: 28.5%;
            left: 10%;
        }

        &__item--three {
            top: 55%;
            left: 15%;
        }

        &__item--four {
            bottom: -2%;
            left: 36%;
        }

        &__item--five {
            right: 15%;
            top: -5%;
        }

        &__item--six {
            right: 9%;
            top: 22%;
        }

        &__item--seven {
            right: 20%;
            top: 65%;
        }
    }
}
