.other-block__link,
.other-block__dropdown {
    display: none;
}

@media (min-width: $tablet) {
    .other-block {
        position: relative;

        &__link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background: transparent;
            border: none;
        }

        &__dropdown {
            display: none;
            position: absolute;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 10px;
        }

        &__dropdown--open {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: $full-white;
        }

        &__link-dropdown {
            color: $basic-color;
            text-decoration: none;
            text-align: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
        }
    }
}

@media (min-width: $desktop) {
    .other-block__link,
    .other-block__dropdown {
        display: none;
    }
}
