.page-footer {
    padding: 48px 50px 105px;
    background: $basic-color;
    color: $full-white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    &__logo-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 31px;
    }

    &__text {
        font-family: $site-fonts-special;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 60px;
    }

    &__link {
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-family: $site-fonts-text;
        font-size: 18px;
        line-height: 18px;
        border-bottom: 1px solid $full-white;
        color: $full-white;
        text-decoration: none;
        margin-bottom: 22px;
    }

    &__copyright {
        font-size: 18px;
    }
}

@media (min-width: $desktop) {
    .page-footer {
        padding: 40px 100px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .page-footer__info {
        width: 50%;
    }

    .page-footer__logo-link {
        margin-bottom: 40px;
    }
}

@media (min-width: $desktop-full) {
    .page-footer {
        padding: 40px 140px;
    }
}
