body {
    font-family: $site-fonts-text;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    -ms-flex-line-pack: start;
        align-content: start;
    min-height: 100%;
    margin: 0;
    counter-reset: section;
    overflow-y: visible;
  }
