.page-header {
    padding: 45px 30px;
    position: fixed;
    background: transparent;
    width: 100%;
    font-family: $site-fonts-title;
    z-index: 100;

    &--dark {
        background: $basic-color;
    }

    @media(min-width: $big-phone) {
        padding: 45px 50px;
    }
}

.page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media (min-width: $tablet) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.page-header__wrapper-short {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 37px;
}

.page-header__logo {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    picture {
        height: 40px;
    }

    @media (min-width: $desktop) {
        margin-right: 20px;
    }
}


@media (min-width: $desktop-full) {
    .page-header {
        padding: 30px 140px;
    }
}
