.site-navigation {
    display: none;

    &--on {
        display: flex;
        flex-direction: column;
        margin-top: 63px;
        gap: 26px;
    }

    @media(min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.site-navigation__lang {
    order: 1;
    display: flex;
    gap: 13px;

    @media (min-width: $tablet) {
        order: 2;
    }
}

.site-navigation__list {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet) {
        order: 1;
    }
}

.site-navigation__lang {
    width: fit-content;
    margin: 0 auto;

    &-btn {
        border: none;
        background: transparent;
        padding: 7px 14px;
        font-size: 14px;
        line-height: 22px;
        color: $full-white;
        text-transform: uppercase;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

        &--active {
            border-top: 2px solid $full-white;
            border-bottom: 2px solid $full-white;
        }

        &:hover {
            border-bottom: 2px solid $full-white;
        }

        &:focus,
        &:active {
            border-top: 2px solid $full-white;
            border-bottom: 2px solid $full-white;
        }
    }

    @media (min-width: $tablet) {
        margin: 0;
    }
}
