@keyframes arrowDown {
    0% {
        bottom: 60px;
    }

    50% {
        bottom: 40px;
    }

    100% {
        bottom: 60px;
    }
}

@keyframes cristall {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(1.5);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@-webkit-keyframes cristall {
    0% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
    }

    50% {
        -webkit-transform: rotate(45deg) scale(1.5);
                transform: rotate(45deg) scale(1.5);
    }

    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
    }
}

@keyframes cristall {
    0% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
    }

    50% {
        -webkit-transform: rotate(45deg) scale(1.5);
                transform: rotate(45deg) scale(1.5);
    }

    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
    }
}
