//Fonts

$site-fonts-title: "Flama Medium", sans-serif;
$site-fonts-text: "Calibri", sans-serif;
$site-fonts-special: "Inter Regular", sans-serif;

// Viewports
$desktop: 1280px;
$desktop-full: 1440px;
$tablet: 768px;
$big-phone: 400px;

// Colors global

$basic-white: #f5f5f5;
$basic-color: #081A3C;

// Colors special

$special-blue: #A2BDD4;
$light-blue: #E1E9F0;
$full-white: #FFF;
$special-bg: #C4C4C4;
